<style id="newsList" type="text/css">
	<div class="panel panel-default">
    <div class="panel-heading">
    	新闻列表
    	<a href="#/newsAdd" class="glyphicon glyphicon-plus pull-right">添加新闻</a>
    </div>
	    <table class="table">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>新闻标题</th>
	          <th>新闻内容</th>
	          <th>出版时间</th>
              <th>作者</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% newss.forEach(function( news ){ %>
	      		<tr>
		          <td><%= news.nid %></td>
		          <td><%= news.ntitle %></td>
		          <td><%= news.content %></td>
		          <td><%= news.pubdate %></td>
                  <td><%= news.author %></td>
		          <td>
		          	<a href="#/newsDel/<%= news.tid %>">删除</a>
		          </td>
		        </tr>
	      	<% }) %>
	      </tbody>
	    </table>
	</div>
</style>